// Measurements
$header-height: 63px;
$login-container-width: 532px;

$container-width: 1200px;

// Font weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// Font family
$ff-default: 'Montserrat',
sans-serif;

// Font size
$fs-default: 16px;

// Colors - brand
$color-brand-primary: #0f467c;
$color-brand-accent: #00a295;

// Colors - by purpose
$color-text: rgba(black, 0.87);
$color-header-backgroud: #0f467c;
$color-login-background: white;
$color-footer-background: #3c3c3c;
$color-footer-color: rgba(255, 255, 255, 0.87);
$color-footer-border: rgba(151, 151, 151, 0.5);

// Paths
$assets-path: '/assets';

// Checkbox
$icon-check: "\2713";

//Button
$color-yellow: #f3cd2c;
$color-blue: #3699cb;
$color-darker-gray: #404040;
$color-dark-gray: #888888;
$color-gray: #bbbbbb;
